/* Cleaning defaults*/
.house,
.house ul,
.house li,
.house a,
.house span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
	list-style-type: none;
}

/* Basics */
html, body {
	height: 95%;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	/*padding: 0px;*/
        padding-top: 60px;
        padding-bottom: 40px;
    background-color: #DBFFFF;
	/*background: url('main-bg.png') repeat;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	color: #404040;
}

#top_links {
    display: block;
	margin: 0px;
	margin-bottom:10px;
	padding-left: 15px;
	padding-right: 10px;
    position: relative;
	height: 25px;
    min-width: 200px;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 0px 1px rgba(0,0,0,.35);
    background: #330033;
    background: -moz-linear-gradient(top,  #330033 80%, #330066 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#330033), color-stop(100%,#330066));
    background: -webkit-linear-gradient(top,  #330033 80%,#330066 100%);
    background: -o-linear-gradient(top,  #330033 80%,#330066 100%);
    background: -ms-linear-gradient(top,  #330033 80%,#330066 100%);
    background: linear-gradient(top,  #330033 80%,#330066 100%);  
    box-shadow: inset 0px 0px 10px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .35);
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
	list-style-type: none;
	z-index:5;
}

#top_links li{
	float: left;
	position: relative;
	vertical-align: center;
	display:block;
	height: 20px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}





#right_top_links {
	float: right;
	position: relative;
	vertical-align: center;
	display:block;
	height: 20px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

#top_links li:hover> a,
#top_links li:hover {
	color: #DBFFFF;
    background: #296666; 
    background: -moz-linear-gradient(top,  #296666 0%, #47B2B2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#296666), color-stop(100%,#47B2B2));
    background: -webkit-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: -o-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: -ms-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: linear-gradient(top,  #296666 0%,#47B2B2 100%);  
}

.nav li:hover> a,
.nav li:hover {
	color: #DBFFFF;
    background: #296666; 
    background: -moz-linear-gradient(top,  #296666 0%, #47B2B2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#296666), color-stop(100%,#47B2B2));
    background: -webkit-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: -o-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: -ms-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: linear-gradient(top,  #296666 0%,#47B2B2 100%);  
}

.black {
	background:#EEF66C /*#ADD8E6*/ /*#FFFF66 */ /*#FFFC17; #C3FDB8;*/
	}

footer {
text-align:center;
	}

.icons {
	padding-left:10px;
	padding-right:10px;
	}

.icons2 {
	padding-left:10px;
	padding-right:20px;
	}

a[title] {  padding: 1px; }





#block_content { /*like body tag but this one does not mess up top bar */
	margin-top: 25px;
	margin-bottom:25px;
	margin-left:25px;
	margin-right:25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
}

/* links */
a:link {      /* unvisited link */
	color:#3366CC;
	text-decoration:none;
}
a:visited {  /* visited link */
	color:#3366CC;
}
a:hover {  /* mouse over link */
	color:#3366CC;
	text-decoration:underline;
}
a:active {  /* selected link */ 
	color:#3366CC;
	text-decoration:underline;
}

a img {
	border: none;
}

.navbar-link p a:hover {
    color: #DBFFFF;
    background: #296666;
    background: -moz-linear-gradient(top,  #296666 0%, #47B2B2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#296666), color-stop(100%,#47B2B2));
    background: -webkit-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: -o-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: -ms-linear-gradient(top,  #296666 0%,#47B2B2 100%);
    background: linear-gradient(top,  #296666 0%,#47B2B2 100%);  
}




hr {
	border: 0;
	height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.back_to_top {
	text-align: left;	
	padding: 10px;
}

.navigation_links {
	padding: 2.5px;
	width: 680px;
	text-align: left;
}

/* headings */
h1, h2, h3 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 2.5px;
	width: 680px;
	text-align: left;
}

/* text */
p {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.text{
	width: 700px;
	text-align: left;
}

em, strong {

}

.flash_messages li {
	width: 500px;
	text-align: center;
    display: block;
    position: relative;
    top: 5px;
    right: 0;
    padding: 10px 10px 10px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .35), 1px 1px 1px rgba(255,255,255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .35), 1px 1px 1px rgba(255,255,255, .1);
    box-shadow: inset 1px 1px 1px rgba(0,0,0, .35), 1px 1px 1px rgba(255,255,255, .1);
}

/* Home */
#home_three_features{
	margin: auto;
}
#home_three_features td{
	padding: 5px;
	height: 300px;
	width: 300px;
	max-width: 300px;
	text-align: center;
	overflow: hidden;
}

/* MyHouse */
.house {
	width: 600px;
	padding: 0px;
	margin-left: auto;
    margin-right: auto;
}

.rooms li > a {
    display: block;
	text-align: center;
	margin-bottom:5px;
    position: relative;
    min-width: 200px;        padding-top: 60px;
        padding-bottom: 40px;
    padding: 5px 20px 5px 20px;
	font-weight:bold;
    color: #4D4D4D;
    text-decoration: none;
    background: #66E0FF;
    background: -moz-linear-gradient(top,  #FFFFFF 10%, #66E0FF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#FFFFFF), color-stop(100%,#66E0FF));
    background: -webkit-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -o-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -ms-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%); 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.rooms li:target > a,
.rooms li:hover > a {
color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
    background: #330066;
    background: -moz-linear-gradient(top,  #330066 10%, #330099 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#330066), color-stop(70%,#330099));
    background: -webkit-linear-gradient(top,  #330066 10%,#330099 70%);
    background: -o-linear-gradient(top,  #330066 10%,#330099 70%);
    background: -ms-linear-gradient(top,  #330066 10%,#330099 70%);
    background: linear-gradient(top,  #330066 10%,#330099 70%);  
}

.devices li > a {
    display: block;
    position: relative;
    min-width: 200px;
    padding: 5px 20px 5px 40px;
    color: #4D4D4D;
    text-decoration: none;
    background: #66E0FF;
    background: -moz-linear-gradient(top,  #FFFFFF 10%, #66E0FF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#FFFFFF), color-stop(100%,#66E0FF));
    background: -webkit-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -o-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -ms-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%); 
}

.devices span,
.rooms span {
	text-align: right;
    display: block;
    position: relative;
    top: 5px;
    right: 0;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #CCFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .35), 1px 1px 1px rgba(255,255,255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .35), 1px 1px 1px rgba(255,255,255, .1);
    box-shadow: inset 1px 1px 1px rgba(0,0,0, .35), 1px 1px 1px rgba(255,255,255, .1);
}

.devices li:target > a,
.devices li:hover > a {
	color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
    background: #3366CC;
    background: -moz-linear-gradient(top,  #3366CC 80%, #FFFFFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#3366CC), color-stop(100%,#FFFFFF));
    background: -webkit-linear-gradient(top,  #3366CC 80%,#FFFFFF 100%);
    background: -o-linear-gradient(top,  #3366CC 80%,#FFFFFF 100%);
    background: -ms-linear-gradient(top,  #3366CC 80%,#FFFFFF 100%);
    background: linear-gradient(top,  #3366CC 80%,#FFFFFF 100%);  
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.commands li > a {
    display: block;
    position: relative;
    min-width: 200px;
    padding: 5px 20px 5px 60px;
    color: #4D4D4D;
    text-decoration: none;
    background: #66E0FF;
    background: -moz-linear-gradient(top,  #FFFFFF 10%, #66E0FF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#FFFFFF), color-stop(100%,#66E0FF));
    background: -webkit-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -o-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -ms-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%); 
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1); 
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.commands li:target > a,
.commands li:hover > a {
	color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
    background: #00CCFF;
    background: -moz-linear-gradient(top,  #00CCFF 10%, #00FFFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#00CCFF), color-stop(100%,#00FFFF));
    background: -webkit-linear-gradient(top,  #00CCFF 10%,#00FFFF 100%);
    background: -o-linear-gradient(top,  #00CCFF 10%,#00FFFF 100%);
    background: -ms-linear-gradient(top,  #00CCFF 10%,#00FFFF 100%);
    background: linear-gradient(top,  #00CCFF 10%,#00FFFF 100%); 

}

/* My rooms Page - Menu effects */
.rooms li > .devices,
.devices li > .commands {
    height: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*.rooms li:hover > .devices,*/
.rooms li:target > .devices
{
	height: 100%;
}

.devices li:hover > .commands,
.devices li:target > .commands{
	height: 70px;
}

/* Tables */

table {
	padding: 0;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	/*text-align: center;*/
}

.devices_table {
	min-width: 900px;
}

table, th, td {
	border: 0.5px solid #99C2EB;
	border-collapse:collapse;
	margin-top: 10px;

}


td {
	vertical-align: center;
	padding: 5px;
	width: 1px;
	/*white-space:nowrap;*/
    color: #4D4D4D;
    text-decoration: none;
    background: #66E0FF;
    background: -moz-linear-gradient(top,  #FFFFFF 10%, #66E0FF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#FFFFFF), color-stop(100%,#66E0FF));
    background: -webkit-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -o-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: -ms-linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%);
    background: linear-gradient(top,  #FFFFFF 10%,#66E0FF 100%); 
}

td a:link,
td a:visited {
	/*color:#333333;*/
	color:blue;
}
td a:hover,
td a:active {  /* selected link */ 
	color:#000000;    
	text-shadow: 0px 1.2px 1.5px rgba(255,255,255,1);
	text-decoration:underline;
}

th {
	/*vertical-align: center;
	text-align: center;*/
text-align:left;
	padding: 5px;
	font-weight:bold;
    color: #FFFFFF;
    text-decoration: none;
    background: #330066;
    background: -moz-linear-gradient(top,  #330066 10%, #330099 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#330066), color-stop(70%,#330099));
    background: -webkit-linear-gradient(top,  #330066 10%,#330099 70%);
    background: -o-linear-gradient(top,  #330066 10%,#330099 70%);
    background: -ms-linear-gradient(top,  #330066 10%,#330099 70%);
    background: linear-gradient(top,  #330066 10%,#330099 70%);  
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

/* Posts */

.post_content {
    text-decoration: none;
	max-height: 100px;
	text-overflow: scroll;
	padding: 5px;
}

.post_content .post_info {
	text-align: center;
	width:80px;
}
.post_content .post_body {
	text-align: left;
	width: 600px;
	padding-left: 10px;
}

.forum_content {
}

.forum_body {
	vertical-align: center;
	text-overflow: scroll;
	padding: 10px;
    color: #1F4C4C;
	width: 800px;
	min-height: 80px;
	white-space: nowrap;
    text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.75);
    background: #C8FFFF;
    background: -moz-linear-gradient(top,  #C8FFFF 10%, #FFFFFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#C8FFFF), color-stop(100%,#FFFFFF));
    background: -webkit-linear-gradient(top,  #C8FFFF 10%,#FFFFFF 100%);
    background: -o-linear-gradient(top,  #C8FFFF 10%,#FFFFFF 100%);
    background: -ms-linear-gradient(top,  #C8FFFF 10%,#FFFFFF 100%);
    background: linear-gradient(top,  #C8FFFF 10%,#FFFFFF 100%); 
}

.forum_info {
	text-align: right;
}

.forum_list {
	width: 800px;
}

.forum_list td {
	min-width:80px;
	text-align: left;
}

.contact_list{
	position:relative;
	width: 70%;
	height: 50px;
}

.smart_house{
	width: 70%;
	height:100%
}



/* From Bootstrap */
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}


textarea{
position:relative;
/*width:90%;*/
width:600px;
	}

.msg{
position:relative;
width:600px;
	}



@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}



}



/* .nav {
    background: #330033;
}

.sidebar-nav {
    padding: 9px 0;
    background: #330033;
}


.navbar-inner{
background:#330033;
}

footer {
position:fixed;
bottom: 0;
}

#title h2, ul {
color:green;
}
*/


.sidebar-nav {

/*background:red;*/
margin-top:30px;
/*border-right:solid blue;*/

}

.contact_list{
	position:relative;
	width: 70%;
	height: 50px;
}

.admin_list{
	position:relative;
	width: 60%;
}

.messages1 {
	position:relative;
	width: 20%;
}

.messages2 {
	position:relative;
	width: 50%;
}

.messages3 {
	position:relative;
	width: 30%;
}

.size15 {
	position:relative;
	width: 15%;
}

.size20 {
	position:relative;
	width: 20%;
}

.size35 {
	position:relative;
	width: 35%;
}

.size30 {
	position:relative;
	width: 30%;
}

.size70 {
	position:relative;
	width: 70%;
}











