{% extends "base.html" %}

{% block content %}
<h1>Add Admin</h1>
<div class="navigation_links">
<a href="{{ url_for('admins') }}">View admins</a>
| <a href="{{ url_for('manage_users') }}">Enable/disable accounts</a>
| <a href="{{ url_for('add_admin') }}">Add admin</a>
</div>
<hr>
{% from "_formhelpers.html" import render_field %}
<form action="" method="post" name="add_admin">
    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.email) }}
    {{ render_field(form.confirm_email) }}
  </dl>
  <p><input type="submit" class="btn" value="Add Admin"> </p>
</form>
{% endblock %}




