<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/static/favicon.ico"/>

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"  media="screen">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}"  media="all" />




    {% if title %}
    <title>Smart House Web App - {{title}}</title>
    {% else %}
    <title>Smart House Web App</title>
    {% endif %}

  <style>

  .slide {
  display: inline-block;
  height: 225px;
}


  </style>



<script type="text/javascript">
<!--
var image1=new Image()
image1.src="{{ url_for('static', filename='images/smarthouse.png') }}"
image1.title="Control"
image1.step1="Make your house smart!"  
image1.step2="Add device"
image1.step3="Control device from anywhere!"
var image2=new Image()
image2.src="{{ url_for('static', filename='images/users.svg') }}"
image2.title="Share"
image2.step1="Add users to your smart house"
image2.step2="Share control with others"
image2.step3="Share ideas on forum"
var image3=new Image()
image3.src= "{{ url_for('static', filename='images/users_support.png') }}"   
image3.title="Learn"
image3.step1="Ask Questions on Forum"
image3.step2="Read HowTo"
image3.step3="Read Reviews and Articles"
-->
</script>

</head>
   

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/home">Smart House Web App</a>
          <div class="nav-collapse collapse">

{% if g.user.is_authenticated() %}
            <p class="navbar-text pull-right">


<a title="view your profile" href="{{ url_for('user', nickname = g.user.nickname) }}"> <img class = "icons"  alt = "profile" src="{{ url_for('static', filename='images/users.svg') }}" height="15" width="30"/></a>
			<a title="view your house" href="{{ url_for('my_house') }}"> <img class = "icons"  alt = "my house" src="{{ url_for('static', filename='images/house.png') }}" height="15" width="30" /></a>
    		<a title="view your messages" href="{{ url_for('messages') }}"> <img class = "icons2" alt = "inbox" src="{{ url_for('static', filename='images/message.png') }}" height="15" width="30"/></a>
		<a class = "btn btn-small btn-warning" title="safely leave the site" href="{{ url_for('logout') }}">Sign out </a>


            </p>

{% endif %}
            <ul class="nav">

{% if g.user.is_authenticated() %}
    		

		<li><a title="view main page" href="/home">Home</a></li>
    		<li><a title="useful tips" href="{{ url_for('how_to') }}">How To</a> <!--child--></li>
    		<li><a title="support community" href="{{ url_for('forum') }}">Forum</a></li>


    		<li><a title="contact webmaster" href="{{ url_for('contact') }}">Contact Us</a></li>

        {% else %}
        	<li><a title="sign in with existing account" href="{{ url_for('signin') }}">Sign in</a></li>
        	<li><a title="create new account" href="{{ url_for('register') }}">Register</a></li>
    		<li><a title="useful tips" href="{{ url_for('how_to') }}">How To</a> <!--child--></li>
    		<li><a title="support community" href="{{ url_for('forum') }}">Forum</a></li>
    		<li><a title="contact webmaster" href="{{ url_for('contact') }}">Contact Us</a></li>
        {% endif %}




            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    		
    
    <div class="container-fluid">
      <div class="row-fluid">
{% if g.user.is_authenticated() %}
        <div class="span2">
          <div class="black sidebar-nav">

            <ul class="nav nav-list">
              <li class="nav-header">Devices/Rooms</li>


		<li> <a title="view your house" href="{{ url_for('my_house') }}"> My House</a> </li>
              <li><a title = "Devices shared with me" href="{{url_for('my_house_shared_devices')}}">Devices shared with me</a></li>
              <li><a title = "Rooms shared with me" href="{{url_for('my_house_shared_rooms')}}">Rooms shared with me</a></li>
    		<li><a title="view house long" href="{{ url_for('log',nickname = g.user.nickname) }}">House Log</a><!--child--></li>




 <li class="nav-header">Settings</li>


    		<li><a title="device settings" href="{{ url_for('devices', nickname = g.user.nickname) }}">Rooms</a><!--child--></li>

              <li><a title = "Devices shared with me settings" href="{{url_for('shared_devices', nickname = g.user.nickname)}}">Devices shared with me</a></li>
              <li><a title = "Rooms shared with me settings" href="{{url_for('shared_rooms', nickname = g.user.nickname)}}">Rooms shared with me</a></li>



              <li class="nav-header">Account</li>
	      <li><a title="view your messages" href="{{ url_for('messages') }}"> Messages </a> </li>
              <li><a href="{{url_for('edit')}}">Manage Account</a></li>
              <li><a href="{{url_for('my_forum_posts')}}">My Forum Posts</a></li>



		{% if g.user.role == 1 %}
              		<li class="nav-header">Admin</li>
			<li><a href="{{ url_for('manage_users') }}">Enable/Disable Accounts</a> <!--child--></li>
			<li><a title="administrative features" href="{{ url_for('admins') }}">View Admins</a>
			<li><a href="{{ url_for('add_admin') }}">Add Admin</a> <!--child--></li>
		{% endif %}

            </ul>

          </div><!--/.well -->
        </div><!--/span-->



{% else %}


        <div class="span2">
          <div class="sidebar-nav">

          </div><!--/.well -->
        </div><!--/span-->

{% endif %}



 





        <div class="span9">

    {% with messages = get_flashed_messages() %}
    	{% if messages %}
			<div class="flash_messages">
		    <ul>
		    {% for message in messages %}
        		<li>{{ message }} </li>
		    {% endfor %}
    
			</ul>
			</div>
	 {% endif %}
    {% endwith %}
	
    <div id="block_content2">
    {% block content %}
    {% endblock %}
    </div>
         
         
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Smart House Web App 2013</p>
        <p><a title="privacy policy" href="{{ url_for('privacy')}}">Privacy</a></p>
      </footer>

    </div><!--/.fluid-container-->

  </body>


</html>


