{% extends "base.html" %}

{% block content %}
<h2> Contact Us </h1>

<hr>
<p>
Before you contact the managers make sure you tried getting help from the <a title="find useful tips" href="{{ url_for('how_to') }}">How To</a>
or <a title="support community" href="{{ url_for('forum') }}">Forum</a> pages.
</p>
<form action="" method=post name="create_forum">
    {{form.hidden_tag()}}
<table>
    <tr>
        <th width = "200px" > Enter your email address </th>
        <td> 
	    {{ form.email(size = 60) }} 
	    {% for error in form.errors.email %}
                <br><span style="color: red;">[{{error}}]</span>
	    {% endfor %}
	</td>
    </tr>
    <tr>
        <th> Enter message </th>
        <td> 
	    {{ form.body(cols = 80, rows = 15) }} 
	    {% for error in form.errors.body %}
                <br><span style="color: red;">[{{error}}]</span>
	    {% endfor %}
	</td>
    </tr>
    <tr>
        <td> </td>
        <td>   <input type="submit"  class="btn" value="Send"> </td>
    </tr>
</table>
    
</form>


{% endblock %}




