{% extends "base.html" %}
{% block content %}
<h1>Create New Post</h1>
<div class="navigation_links">
<a title="forum" href="{{ url_for('forum') }}">Back to forum</a>
| <a title="find useful tips" href="{{ url_for('how_to') }}">How To</a>
</div>
<hr>
<form action="" method=post name="create_forum">
    {{form.hidden_tag()}}
<table class="contact_list">
    <tr>
        <th width = "50px" > Title </th>
        <td> 
	    {{ form.title(size = 60) }} 
	    {% for error in form.errors.title %}
                <br><span style="color: red;">[{{error}}]</span>
	    {% endfor %}
	</td>
    </tr>
    <tr>
        <th> Body </th>
        <td> 
	    {{ form.body(cols = 80, rows = 20) }} 
	    {% for error in form.errors.body %}
                <br><span style="color: red;">[{{error}}]</span>
	    {% endfor %}
	</td>
    </tr>
    <tr>
        <td> </td>
        <td>   <input type="submit" class="btn" value="Create Post"> </td>
    </tr>
</table>
</form>
{% endblock %}




