{% extends "base.html" %}

{% block content %}
<h2> Send Message to {{nickname}} </h1>

<form action="" method=post name="create_message">
    {{form.hidden_tag()}}
<table class="contact_list">
    <tr>
        <th width = "50px" > Subject </th>
        <td> 
	    {{ form.title(size = 70) }} 
	    {% for error in form.errors.title %}
                <br><span style="color: red;">[{{error}}]</span>
	    {% endfor %}
	</td>
    </tr>
    <tr>
        <th> Body </th>
        <td> 
	    {{ form.body(cols = 100, rows = 20) }} 
	    {% for error in form.errors.body %}
                <br><span style="color: red;">[{{error}}]</span>
	    {% endfor %}
	</td>
    </tr>
    <tr>
        <td> </td>
        <td>   <input type="submit"  class="btn" value="Send Message"> </td>
    </tr>

</table>
    
</form>

{% endblock %}




