{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated() %}
	<h1>{{g.user.nickname}}'s Devices Settings</h1>
	<div class="navigation_links">
	<a title="view your house" href="{{ url_for('my_house') }}">My House</a>
	| <a title="create new room" alt='new_room' href="{{ url_for('room_add',nickname=g.user.nickname) }}">Add room</a>
	| <a title="view house log" href="{{ url_for('log',nickname = g.user.nickname) }}">House log</a>
	</div>
	{% block device_form %}
	{% endblock %}

	{% if rooms | length > 0 %}

	    {% for room in rooms %}
		<hr>
		<h2>{{ room.name }}</h2>
		{% if room.user.id == g.user.id %}
			<div class="navigation_links">
			<a title="create new device" alt='new_device' href="{{ url_for('device_add',nickname=g.user.nickname,room_name=room.name) }}">Add device</a>
			{% if room.enable %}
				| <a title="disable {{room.name}}" href="{{ url_for('room_enable', id=room.id) }}">Disable {{room.name}}</a>
			{% else %}
				| <a title="enable {{room.name}}" href="{{ url_for('room_enable', id=room.id) }}">Enable {{room.name}}</a>
			{% endif %}
			| <a title='edit {{room.name}}' href="{{ url_for('room_edit',id = room.id) }}">Edit room</a>
			| <a title='delete {{room.name}}' href="{{ url_for('room_delete',id = room.id) }}">Delete room</a>
			| <a title="share {{room.name}} with other users" href="{{ url_for('add_room_users',room_id = room.id) }}">Add users</a>
			{% if room.is_room_shared() %}
			   | <a title="manage {{room.name}} users" href="{{ url_for('manage_room_users',room_id = room.id) }}">Manage users</a>
			{% endif %}
			</div>
		{% endif %}
		{% if room.devices.all() | length >0 %}
		<table class="devices_table">
		<tr>
			<th>Device</th>
			<th>Request type</th>
			<th>Base URL</th>
			<th>Commands</th>
			<th>Link (url+command)</th>
			<th>Edit / Delete</th>
			<th>Enable / Disable</th>
			<th>Sharing</th>
			<th>Status</th>
		</tr>
			{% for device in room.devices %}
				<tr>
				<td>{{device.name}}</td>
				<td>{{device.request_type}}</td>
				<td>{{device.url}}</td>
				<td>{{device.command}}</br>{{device.command_optional}}</td>
				<td>
				{% if room.enable %}
					{% if device.enable %}
						<a title="{{device.name}} {{device.command}}" href="{{url_for('outmsg',room=room.name,device=device.name,command=device.command,request_type=device.request_type)}}" target="_self">{{device.url}}/{{device.command}}</a>
						{% if g.user.nickname in ['Simulator','Demo'] %}
							</br>
							<a href="http://shwa-home.appspot.com/makepost/{{g.user.nickname}}/{{room.name}}/{{device.name}}/{{device.command}}/simulating", target='_blank'>Simulate command</a>
						{% endif %}
						{% if device.command_optional %}
							</br>
							<a title="{{device.name}} {{device.command_optional}}" href="{{url_for('outmsg',room=room.name,device=device.name,command=device.command_optional,request_type=device.request_type)}}" target="_self">{{device.url}}/{{device.command_optional}}</a>
							{% if g.user.nickname in ['Simulator','Demo'] or g.user.role == 1 %}
								</br>
								<a title="simulate command" href="http://shwa-home.appspot.com/makepost/{{g.user.nickname}}/{{room.name}}/{{device.name}}/{{device.command_optional}}/simulating", target='_blank'>Simulate optional command</a>
							{% endif %}
						{% endif %}
					{% else %}
						Device disabled<br>
					{% endif %}
				{% else %}
					Room disabled.<br>
					<a title="enable {{room.name}}" href="{{ url_for('room_enable', id=room.id) }}">Enable {{room.name}}</a>
				{% endif %}
				</td>
				<td>
				{% if device.user.id == g.user.id or room.user_id == g.user.id %}
				<a title="edit {{device.name}}" href="{{ url_for('device_edit',id=device.id) }}">edit</a> / </br>
				<a title="delete {{device.name}}" href="{{ url_for('device_delete',id=device.id) }}">delete</a>
				{% endif %}
				</td>
				<td>
				{% if device.user.id == g.user.id or room.user_id == g.user.id %}
					{% if device.enable %}
						<a title="disable {{device.name}}" href="{{ url_for('device_enable',id=device.id) }}">disable</a>
					{% else %}
						<a title="enable {{device.name}}" href="{{ url_for('device_enable',id=device.id) }}">enable</a>
					{% endif %}
				{% endif %}
				</td>
				<td>
					<a alt="share {{device.name}}" href="{{ url_for('share_device',id=device.id) }}">share device</a>
				</td>
				<td class = "size15">
				{{ device.message }} @ <i> {{device.get_month()}} {{device.last_used.day}}, {{device.last_used.year}} at {{device.last_used.hour}}:{{device.get_minute()}} </i>
				</td>
				</tr>
			{% endfor %}
		{% else %}

			<tr>
			No devices in room.</br>
			</tr>
		{% endif %}
		{% if room.webcam_url | length >0 %}
			<tr>
			<td>Webcam</td>
			<td></td>
			<td></td>
			<td></td>
			<td><a title="Webcam link" href="{{ room.webcam_url }}" target="_blank">{{ room.webcam_url }}</a></td>
			<td><a title='edit {{room.name}} webcam' href="{{ url_for('room_edit',id = room.id) }}">edit</a></td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
		{% endif %}		
		</table>

	    {% endfor %}

	{% else %}
		{% block house_num %}
	    <p> No rooms in house! </p>
		{% endblock %}
	{% endif %}
{% else %}
	<h1>Welcome!</h1>
{% endif %}
<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
{% endblock %}
