{% extends 'devices.html' %}
{% block device_form %}
<form action="" method="post" name="device_form">
	{{form.hidden_tag()}}
	<table>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.room %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Device room location:</td>
			<td>{{ form.room }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.name %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Device name:</td>
			<td>{{ form.name }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.request_type %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Type of HTTP request:</td>
			<td>{{ form.request_type }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.url %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Device url:</td>
			<td>{{ form.url }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.command %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Device command:</td>
			<td>{{ form.command }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.command_optional %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Device optional command:</td>
			<td>{{ form.command_optional }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.enable %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Enable device:</td>
			<td>{{ form.enable }}</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" class="btn" value="Save Changes"></td>
		</tr>
	</table>
</form>
{% endblock %}

{% block house_num %}

{% endblock %}
