{% extends "base.html" %}
{% block content %}
<h1>Edit Your Profile</h1>
<div class="navigation_links">
<a href="{{ url_for('password') }}">Change your password</a>
| <a href="{{ url_for('deactivate_account') }}">Deactivate Account</a>
</div>
<hr>
<br>
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Your nickname:</td>
            <td>{{form.nickname(size = 24)}}
    	        {% for error in form.errors.nickname %}
            	<br><span style="color: red;">[{{error}}]</span>
	            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{form.first_name(size = 24)}}
    	        {% for error in form.errors.first_name %}
            	<br><span style="color: red;">[{{error}}]</span>
	            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{form.last_name(size = 24)}}
    	        {% for error in form.errors.last_name %}
            	<br><span style="color: red;">[{{error}}]</span>
	            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{form.email(size = 24)}}
    	        {% for error in form.errors.email %}
            	<br><span style="color: red;">[{{error}}]</span>
	            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>About yourself:</td>
            <td>{{form.about_me(cols = 32, rows = 4)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" class="btn"  value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endblock %}





