{% extends "base.html" %}
{% block content %}

<h1> {{title}} </h1>
<div class="navigation_links">
<a title="create a new forum topic" href="{{ url_for('create_forum') }}">Create new post</a>
| <a title="support community" href="{{ url_for('forum') }}">Back to forum</a>
| <a title="useful tips" href="{{ url_for('how_to') }}">How To</a>
</div>
<hr>
<br>
{% if forum_posts | length > 0 %}

{% set original_post_id = forum_posts[0].id %}
	<table class="forum_content">

    {% for post in forum_posts %}
        <tr>
			<td class="forum_body">{{post.body}}</td>
		</tr>
        <tr>
			<td class="forum_info">Posted by <a title="visit {{ post.posted_by().nickname }}'s profile" href="{{ url_for('user', nickname = post.posted_by().nickname) }}">{{ post.posted_by().nickname }}</a> on {{post.get_week_day()}} {{post.get_month()}} {{post.date_added.day}}, {{post.date_added.year}} at {{post.date_added.hour}}:{{post.get_minute()}}  </td>
		</tr>
		{%if g.user.role == 1 and post.id != original_post_id %}
    	    <tr> <a title="delete comment" href="{{ url_for('delete_comment', forum_id = forum_id, comment_id = post.id) }}"> Delete Comment </a> </tr>
		{% endif %}

    {% endfor %}
	</table>
{% else %}
    <p><em> There are no posts! </em></p>
{% endif %}

<p>
<a title="post a reply" class = "btn" href="{{ url_for('reply_post', forum_id = forum_id) }}"> Reply Post </a> 
{%if g.user.role == 1 %}
    <a title="delete post" class = "btn" href="{{ url_for('delete_post', forum_id = forum_id) }}"> Delete Post </a> 
{% endif %}
</p>

{% block reply_post %}
{% endblock %}

{% endblock %}
























