{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated() %}
	<h1>Welcome, {{g.user.nickname}}!</h1>
{% else %}
	<h1>Welcome!</h1>
{% endif %}
<hr>
<br>
<table id="home_three_features">
	<tr>
		<td>
		{% if g.user.is_authenticated() %}
		    <a href="{{ url_for('my_house') }}" title="view your smart house"><img alt = "my house" src="{{ url_for('static', filename='images/house.png') }}" height="200" width="200"/></a>
		    <br>
		    <a href="{{ url_for('my_house') }}" title="view your smart house">My House</a>
		{% else %}
		    <a href="{{ url_for('register') }}" title="join smart house"><img alt = "smart house" src="{{ url_for('static', filename='images/house.png') }}" height="200" width="200"/></a>
		    <br>
		    <a href="{{ url_for('register') }}" title="join smart house">Smart House</a>
		{% endif %}
		</td>
		<td>
		<a href="{{ url_for('forum') }}" title="support community"><img alt = "forum" src="{{ url_for('static', filename='images/users_support.png') }}" height="200" width="200"/></a>
		<br>
		<a href="{{ url_for('how_to') }}" title="find useful tips">How to</a> & <a href="{{ url_for('forum') }}" title="support community">Forum</a>
		</td>
		<td>
		{% if g.user.is_authenticated() %}
			<a href="{{ url_for('user', nickname = g.user.nickname) }}" title="view your profile"><img alt = "profile" src="{{ url_for('static', filename='images/users.svg') }}" height="200" width="200"/></a>
			<p>Your house has not caught fire yet!<br>Hooray!!</p>
		{% else %}
			<a href="{{ url_for('signin') }}" title="sign in"><img alt = "sign in" src="{{ url_for('static', filename='images/users.svg') }}" height="200" width="200"/></a>
			<br>
			<div style = "text-align: center;" >
			<a class="btn btn-small" title="sign in with existing account" href="{{ url_for('signin') }}">Sign in</a>
			<a class="btn btn-small" title = "sign in with OpenId" href="/login">Sign in with OpenID</a>
			<a class="btn btn-small" title="create new account" href="{{ url_for('register') }}">Register</a>
			</div>
		{% endif %}
		</td>
	</tr>
</table>






{% endblock %}
