{% extends "base.html" %}
{% block content %}
<h1>How To...</h1>
	<div class="navigation_links">
	<a title="How to build your own smart house" href="#build_your_own">Build your own smart house</a>
	| <a title="How to add a room" href="#add_room">Add a room</a>
	| <a title="How to edit a room" href="#edit_room">Edit a room</a>
	| <a title="How to delete a room" href="#delete_room">Delete a room</a>
	| <a title="How to enable or disable a room" href="#enable_room">Enable or Disable a room</a>
	| <a title="How to add a device" href="#add_device">Add a device</a>
	| <a title="How to edit a device" href="#edit_device">Edit a device</a>
	| <a title="How to delete a device" href="#delete_device">Delete a device</a>
	| <a title="How to enable or disable a device" href="#enable_device">Enable or Disable a device</a>
	| <a title="How to share a device" href="#share_device">Share a device</a>
	| <a title="How to remove a device shared with you" href="#remove_shared_device">Remove device shared with you</a>
	| <a title="How to add users to a room" href="#share_room">Add users to a room</a>
	| <a title="How to manage users in a room" href="#manage_room_users">Manage users in a room</a>
	| <a title="How to remove a room shared with you" href="#remove_shared_room">Remove room shared with you</a>
	| <a title="How to create a forum post" href="#forum_post">Create a forum post</a>
	| <a title="How to reply to a forum post" href="#forum_reply">Reply to a forum post</a>
	| <a title="How to a change your password" href="#change_password">Change your password</a>
	| <a title="How to delete your account" href="#deactivate_account">Deactivate your account</a>
	| <a title="How to delete your account" href="#activate_account">Activate your account</a>
	| <a title="How to change account details" href="#change_details">Change account details</a>

	</div>
	<hr>
	<p class="text">
	The following sections describe how to perform different actions on the Smart House Web App. Most users have all of the following functionalities. Some pages in your account may differ from the described pages.
	</p>
<h2 id="build_your_onw">Build your own smart house</h2>
	<p class="text">
	So you decided to build your smart house, eh? Well, first you might want to know that <br>
	</p>
	<ul>
	<li>A DIY smart house is only as safe as you make it be.</li>
	<li>Your hardware may malfunction; every device needs to be properly tested and have safe a shutdown mechanism</li>
	<li>You may purchase smart devices from other smart house service and product providers or build your own.</li>
	<li>This website works with smart devices that are controlled through GET or POST requests.</li>
	<li>Safety first! Do not smartify your house until you know your system is safe. Do not put in danger any resident at home.</li>
	</ul>
	<p class="text">
	If you made your smart house devices using an <a title="visit the Arduino website" href="http://arduino.cc/" target="_blank">Arduino board</a> and a WiFi shield you have to configure the devices to connect to your local WiFi. You may watch this video on <a title="connect smart device to WiFi" href="http://youtu.be/uu4V9iUqvn4" target="_blank">how to connect a smart device to WiFi</a>.
	<br>
	Each device has a unique URL with a command sent in the URL to control it. Navigate this page to learn how to set up the device to your account.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="add_room">Add a room</h2>
	<p class="text">
	A room groups different devices of a smart house. The room name must be unique. We recommend using short names with at least one letter. In the Devices page click the <strong>Add room</strong> link. Then type in your room name and save the changes. You can also check the box to enable or disable the room. Your room should now appear listed on the Device page.  
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
<h2 id="edit_room">Edit a room</h2>
	<p class="text">
	You may edit a room to rename, enable, or disable it. Find the room you want to edit in the Devices page. Click on <strong>Edit room</strong> and edit the room properties as desired. Save your changes when done. The changes should reflect on the Devices page.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
<h2 id="delete_room">Delete a room</h2>
	<p class="text">
	Deleting a room removes the room and the devices it contains. This action cannot be undone. Use with caution. Find the room you want to delete in the Devices page. Click on <strong>Delete room</strong>. Your room should not appear anymore on the Devices page.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
<h2 id="enable_room">Enable or Disable a room</h2>
	<p class="text">
	Enabling a room enables all the devices inside the room. Similarly, disabling a room disables all the devices inside the room. Find the room you want to enable or disable in the Devices page. Click on <strong>Enable room</strong> or <strong>Disable room</strong> as desired. The changes should reflect on the Devices page.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
<h2 id="add_device">Add a device</h2>
	<p class="text">
	A device is the smallest unit addressable using http requests. Any electronic appliance controlled via http requests can be commanded using the Smart House Web App. The required device's properties include a room to be grouped in, a http url, the type of http request (Only GET and POST are supported at the time of writing), and a command. You can add an optional command and enable or disable a device by checking the enable check box.<br>
	To add a device go to the Devices page and click on <strong>Add device</strong>. Fill in the device's properties and save your changes. The device should appear on the Device page.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
	<h3 id="device_url">Device url</h3>
		<p class="text">
		The device's url must be the complete url needed to control the device up to the command. It can be a domain name or IP address. When sending the command to the device, the Smart House Web App appends the command to the end of the url. If your url does not work that way, then leave the command field empty.
		</p>
		<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
<h2 id="edit_device">Edit a device</h2>
	<p class="text">
	To edit a device go to the Devices page, and look for the device you want to edit. Click on the device's <strong>Edit device</strong> link. Fill in the device's properties and save your changes. The device should appear on the Device page.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
<h2 id="delete_device">Delete a device</h2>
	<p class="text">
	To delete a device go to the Devices page, and look for the device you want to delete. Click on the device's <strong>Delete device</strong> link. This action is not reversible. Use with caution.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
<h2 id="enable_device">Enable or Disable a device</h2>
	<p class="text">
	To enable or disable a device go to the Devices page, and look for the device you want to enable or disable. Click on the device's <strong>Enable device</strong> or <strong>Disable device</strong> link accordingly. The device changes should reflect on the Device page.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>


<h2 id="share_device">Share a device</h2>
	<p class="text">
	To share a device with a user, go to the Devices page, and look for the device you want to share. Click on the <strong>share device</strong> link.  Then enter the email address of the user you want to share the device with and click on the <strong> Share Device </strong> button.  The user you share the device with can only control the device, and would not be able to change the device settings.
<br>
<br>
<strong> Note: Sharing a device with a user only gives him/her permission to control that particular device, and not all the devices present in the device's room.  See <strong> adding users to a room </strong> if you want the user to be able to control all the devices in the room. 
</strong>
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="remove_shared_device">Remove device shared with you</h2>
	<p class="text">
	To remove a device shared with you, go to <strong> Devices shared with me</strong> under the <strong> Settings </strong> tab.  Click on the <img alt = "profile" src="{{ url_for('static', filename='images/glyphicons_016_bin.png') }}" height="15" width="15"/> icon under <strong> Action </strong> in the device's settings.  Removing the shared device does not delete the owner's copy (the person who shared the device with you).
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="share_room">Add users to a room</h2>
	<p class="text">
	To share a room with a user, go to the Devices page, and look for the room you want to share. Click on <strong>Add users</strong> link, then enter the email address of the user you want to share the room with, and set a <strong> Privilege </strong> for the user.  Setting the user's privilege as <strong> Read/Write </strong> gives him/her access to the room settings as well as the settings of all the devices in the room.  These include: </p>
	<ul> <li> <a href="#add_room"> Adding a device to the room </a> </li> <li> <a href="#enable_room"> Enabling or disabling the room </a> </li> <li> <a href="#edit_room"> Editing the room </a> </li> <li> <a href="#delete_room"> Deleting the room </a> </li> <li> <a href="#share_room"> Adding users to the room </a> </li> <li> <a href="#manage_room_users"> Managing Users </a> </li> <li> <a href="#edit_device">  Editing devices </a> </li> <li> <a href="#delete_device"> Deleting devices </a> </li> <li> <a href="#enable_device"> Enabling or disabling devices </a> </li>  <li> <a href="#share_device"> Sharing Device with other users </a> </li> </ul>
	<p class="text">
	Users with <strong> Read </strong> privilege can only control the devices in the room, and would not be able to change any of the device or room settings.
	You can also add multiple users to the room at once.  Click on the <strong> Add User </strong> button to add another user.  Finally, click on the <strong> Share Room </strong> button to share the room with the user(s).
	<br>
	<br>
	<strong> Note: Adding a user to a room gives him/her the permission to control any of the devices present in that room.  See <strong> sharing a device </strong> if you only want to share one device or a subset of devices with another user. 
	</strong>
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="manage_room_users">Manage users in a room</h2>
	<p class="text">
	To manage users in a room you own or have <strong> Write privileges </strong> to, go to the Devices page, and look for the room you in question. Click on <strong>Manage users</strong> to be taken to the page where you can manage the current users in the room.  You can change the privilege of a user from the dropdown menu, and then click the <strong> Update </strong> button to save the changes.  To delete a user from the room, click on the <strong> Remove </strong> button.  <strong> Note: The owner of a room cannot be removed from the room. </strong>   

	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="remove_shared_room">Remove room shared with you</h2>
	<p class="text">
	To remove a room shared with you, go to <strong> Rooms shared with me</strong> under the <strong> Settings </strong> tab.  Click on the <img alt = "profile" src="{{ url_for('static', filename='images/glyphicons_016_bin.png') }}" height="15" width="15"/> icon under <strong> Action </strong> in the device's settings.  Removing the shared room does not delete the owner's copy (the person who shared the room with you).
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>



<h2 id="forum_post">Create a forum post</h2>
	<p class="text">
	To create a forum post, go to the Forum page, and click on <strong>Create new post. </strong>  Provide a short title to describe your forum post, and write a more detailed description of the post in the body.  Click <strong> Create post </strong> to submit.

	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="forum_reply">Reply to a forum post</h2>
	<p class="text">
	To reply to a forum post, go to the Forum page, and click on the forum title you want to reply to.  Click <strong> Reply post,</strong> enter your response, and then click the <strong> Reply post </strong> button to submit.   

	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="change_password">Change password</h2>
	<p class="text">
	To change your password, go to <strong> Manage Account</strong>, and click on the <strong> Change password </strong> link.  Enter your current password, and your new password (twice), and then click <strong> Save Changes </strong>.  

	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>


<h2 id="deactivate_account">Deactivate account</h2>
	<p class="text">
	To deactivate your account, go to <strong> Manage Account</strong>, and click on the <strong> Deactivate Account. </strong> 
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="activate_account">Activate account</h2>
	<p class="text">
	A deactivated account can be activated simply by logging in.
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

<h2 id="change_details">Change account details</h2>
	<p class="text">
	To change your account details such as your first name, last name, email address, and description about yourself, go to <strong> Manage Account</strong>.  Enter the changes and click on the <strong> Save Changes. </strong> 
	</p>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>

{% endblock %}





