{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated() %}
	<h1>{{g.user.nickname}}'s House Log</h1>
	<div class="navigation_links">
	<a title="view your house" href="{{ url_for('my_house') }}">My House</a>
	| <a title="view device settings" href="{{ url_for('devices', nickname = g.user.nickname) }}">Devices settings</a>
	</div>
	<hr>

    {% if g.user.log_entries.all() | length > 0 %}

	<table class="contact_list">
	    <th class = "size35">Date</th><th>Log message</th>
	    {% for entry in g.user.log_entries %}
		<tr><td><em> {{entry.get_month()}} {{entry.timestamp.day}}, {{entry.timestamp.year}} at {{entry.timestamp.hour}}:  {{entry.get_minute()}} </em></td><td>{{entry.body}}</td></tr> 
	    {% endfor %}
	</table>
    {% else %}
	<p> There are no log messages </p>
    {% endif %}
{% else %}
    <h1>Welcome!</h1>
    <p>You must sign in to see this page</p>
{% endif %}
{% endblock %}
