{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>');
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:');
        openid = openid.substr(0, u) + user;
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid;
}
</script>
<h1>Sign in</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    	<p>
        Enter your OpenID or select from below and click the <strong>Sign in</strong> button.
		<br>
        {{form.openid(size=80)}}
        {% for error in form.errors.openid %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        |{% for pr in providers %}
        <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">{{pr.name}}</a> |
        {% endfor %}
    	</p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" class="btn"  value="Sign In"></p>
</form>
<p>Or click <a href="{{ url_for('signin') }}">here</a> if you are registered with this site.</p>
{% endblock %}
