{% extends "base.html" %}
{% block content %}

<h1> {{title}} <b></h1>


{% if message_threads | length > 0 %}

<table class="contact_list">


    {% for message in message_threads %}

{% if message.role == 1 %}
{% set nickname = message.other_user().nickname %}
{% else %}
{% set nickname = message.user().nickname %}
{% endif %}


<tr valign="top">
       <td><img src="{{g.user.avatar(128)}}" width="50px"; height="60px"></td>
        <td><a href="{{ url_for('user', nickname = nickname) }}"> {{nickname}} </a> </td>
	<td> {{message.get_week_day()}} {{message.get_month()}} {{message.date.day}}, {{message.date.year}} at {{message.date.hour}}:{{message.get_minute()}} </td>
</tr>

<tr valign="none">
<td> </td>
 <td> {{message.body}} </td>
<td> </td>
</tr>
    {% endfor %}

<tr><td><a href="{{ url_for('reply_message', message_id = message_id, user_id = message_threads[0].other_user().id) }}"> Reply </a> </td></tr>
</table>
{% else %}
    <b> There are no messages! </b>
{% endif %}
{% block reply_message %}
{% endblock %}
{% endblock %}
























