{% extends "base.html" %}
{% block content %}
<h1>Smart House Web App Forum</h1>
<div class="navigation_links">
<a href="{{ url_for('create_forum') }}">Create new post</a>
</div>
<hr>
{% if forums | length > 0 %}

    <table class="forum_list">
	<tr>
		<th> Title </th>
		<th> Author </th>
		<th> Replies </th>
		<th> Date Created </th>
	</tr>
	{% for forum in forums %}
		<tr>
		<td> <a title="view {{ forum.title }}" href="{{ url_for('forum_posts', forum_id = forum.id) }}"> {{ forum.title }} </a> </td>
		<td> <a title="visit {{ forum.creator().nickname }}'s profile" href="{{ url_for('user', nickname = forum.creator().nickname) }}"> {{forum.creator().nickname}} </a> </td>

		{% set num_posts = (forum.get_forum_posts() | length) - 1 %}
        <td> {{num_posts}} </td>
        <td> {{forum.get_week_day()}} {{forum.get_month()}} {{forum.date_created.day}}, {{forum.date_created.year}} at {{forum.date_created.hour}}:{{forum.get_minute()}} </td>
        </tr>
    {% endfor %}
    </table>
	<br>
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
{% else %}
    <p><em>There are no forums posts!</em></p>
{% endif %}
{% endblock %}
























