{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated() %}
	<h1>Rooms shared with me</h1>
	<div class="navigation_links">
	<a href="{{ url_for('shared_rooms', nickname = g.user.nickname) }}">Devices settings</a>
	| <a title="view house log" href="{{ url_for('log',nickname = g.user.nickname) }}">House log</a>
	| <a title="useful tips" href="{{ url_for('how_to') }}">How To</a>
	| <a title="collapse all rooms" href="{{ url_for('my_house') }}">Collapse all</a>
	</div>
	<hr>
	<p>
	Click on the rooms below.
	</p>
	<div class="house">
	<ul class="rooms">
	{% if shared_rooms | length > 0 %}
		{% for shared_room in shared_rooms %}			
			<li id="{{ shared_room.room.name }}"><a title="Control devices in {{ shared_room.room.name }}" href="#{{shared_room.room.name}}">{{ shared_room.room.name }}</a>
			<ul class="devices">
			{% if shared_room.room.devices.all() | length >0 %}
				{% for device in shared_room.room.devices %}
					<li id="{{ shared_room.room.name }}_{{ device.name }}"><a title="control {{ device.name }}" href="#{{ shared_room.room.name }}_{{ device.name }}">{{ device.name }}</a>
					<ul class="commands">
					{% if shared_room.room.enable %}
						{% if device.enable %}
							{% if device.command %}
								<li id="{{ device.name }}_{{ device.command }}">
								<a title="set {{device.name}} {{device.command}}" href="{{url_for('outmsg',room=shared_room.room.name,device=device.name,command=device.command,request_type=device.request_type)}}" target="_self">{{device.name}} {{device.command}}</a>
								</li>
							{% endif %}
							{% if device.command_optional %}
								<li id="{{ device.name }}_{{ device.command_optional }}">
								<a title="set {{device.name}} {{device.command_optional}}" href="{{url_for('outmsg',room=shared_room.room.name,device=device.name,command=device.command_optional,request_type=device.request_type)}}" target="_self">{{device.name}} {{device.command_optional}}</a>
								</li>
							{% endif %}
							</ul><!-- commands -->
						{% else %}
							</ul><!-- commands -->
							<span>
							Device disabled.
							</span>
						{% endif %}
					{% else %}
						<span>
						Room disabled. | <a title="enable {{ shared_room.room.name }}" href="{{url_for('room_enable', id=shared_room.room.id)}}">Enable {{shared_room.room.name}}</a>
						</span>
					{% endif %}
					<span>
					{{ device.message }} @ <i> {{device.get_month()}} {{device.last_used.day}}, {{device.last_used.year}} at {{device.last_used.hour}}:{{device.get_minute()}} </i>
					<br>
					<a title="collapse room" href="{{ url_for('my_house') }}">collapse</a>
					</span>
					</li><!-- room.device -->
				{% endfor %}
			{% else %}
				<li id="{{ shared_room.room.name }}"><span>No devices in room.</span></li>
			{% endif %}
				</ul><!-- devices -->
				</li><!-- room -->
		{% endfor %}
		<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
	{% else %}
	<span>
	No rooms shared with you.
	</span>
	{% endif %}
	</ul><!-- rooms -->
	</div><!-- house -->
{% else %}
	<h1>Unauthorized access to house!</h1>
{% endif %}
{% endblock %}
