{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated() %}
	<h1>{{title}}</h1>
	<div class="navigation_links">
	<a title="create new room" alt='new_room' href="{{ url_for('room_add',nickname=g.user.nickname) }}">Add room</a>
	| <a href="{{ url_for('devices', nickname = g.user.nickname) }}">Devices settings</a>
	| <a title="view house log" href="{{ url_for('log',nickname = g.user.nickname) }}">House log</a>
	| <a title="useful tips" href="{{ url_for('how_to') }}">How To</a>
	| <a title="collapse all rooms" href="{{ url_for('my_house') }}">Collapse all</a>
	</div>
	<hr>
	<p>
	{% if g.user.nickname in ['Democam'] %}
	<applet class="webcam_feed" code=com.charliemouse.cambozola.Viewer
    archive={{ url_for('static', filename="cambozola.jar") }} width="320" height="240" id="webcam"> 
	<param name=url value="{{ rooms[0].webcam_url }}"> </applet>
	<br>
	{% endif %}
	Click on the rooms below.
	</p>
	<div class="house">
	<ul class="rooms">
	{% if rooms | length > 0 %}
		{% for room in rooms %}			
			<li id="{{ room.name }}"><a title="Control devices in {{ room.name }}" href="#{{room.name}}">{{ room.name }}</a>
			<ul class="devices">
			{% if room.devices.all() | length >0 %}
				{% for device in room.devices %}
					<li id="{{ room.name }}_{{ device.name }}"><a title="control {{ device.name }}" href="#{{ room.name }}_{{ device.name }}">{{ device.name }}</a>
					{% if room.enable %}
						<ul class="commands">
						{% if device.enable %}
							{% if device.command %}
								<li id="{{ room.name }}_{{ device.name }}_{{ device.command }}">
								<a title="set {{device.name}} {{device.command}}" href="{{url_for('outmsg',room=room.name,device=device.name,command=device.command,request_type=device.request_type)}}" target="_self">{{device.name}} {{device.command}}</a>
								</li>
							{% endif %}
							{% if device.command_optional %}
								<li id="{{ room.name }}_{{ device.name }}_{{ device.command_optional }}">
								<a title="set {{device.name}} {{device.command_optional}}" href="{{url_for('outmsg',room=room.name,device=device.name,command=device.command_optional,request_type=device.request_type)}}" target="_self">{{device.name}} {{device.command_optional}}</a>
								</li>
							{% endif %}
							</ul><!-- commands -->
						{% else %}
							</ul><!-- commands -->
							<span>
							Device disabled.
							</span>
						{% endif %}
					{% else %}
						<span>
						Room disabled. | <a title="enable {{ room.name }}" href="{{url_for('room_enable', id=room.id)}}">Enable {{room.name}}</a>
						</span>
					{% endif %}
					<span>
					{{ device.message }} @ <i> {{device.get_month()}} {{device.last_used.day}}, {{device.last_used.year}} at {{device.last_used.hour}}:{{device.get_minute()}} </i>
					<br>
					{% if room.webcam_url | length > 0 %}
						<a title="view live webcam" href="{{ room.webcam_url }}" target="_blank">view live webcam</a> |
					{% endif %}
					<a title="collapse room" href="{{ url_for('my_house') }}">collapse</a>
					</span>
					</li><!-- room.device -->
				{% endfor %}
			{% else %}
				<li id="{{ room.name }}"><span>No devices in room.</span></li>
			{% endif %}
				</ul><!-- devices -->
				</li><!-- room -->
		{% endfor %}
	{% else %}
	<span>
	No rooms in the house.
	</span>
	{% endif %}
	</ul><!-- rooms -->
	<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
	</div><!-- house -->
{% else %}
	<h1>Unauthorized access to house!</h1>
{% endif %}
{% endblock %}
