{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated() %}
	<h1>Devices shared with me</h1>
	<div class="navigation_links">
	<a href="{{ url_for('shared_devices', nickname = g.user.nickname) }}">Devices settings</a>
	| <a title="view house log" href="{{ url_for('log',nickname = g.user.nickname) }}">House log</a>
	| <a title="useful tips" href="{{ url_for('how_to') }}">How To</a>
	| <a title="collapse all rooms" href="{{ url_for('my_house') }}">Collapse all</a>
	</div>
	<hr>
	<p>
	Click on the rooms below.
	</p>
	<div class="house">
	<ul class="rooms">			
			{% if shared_devices | length >0 %}
			<li id="shared_devices"><a title="Control devices shared with you" href="#shared_devices">Devices shared with you</a>
			<ul class="devices">
				{% for shared_device in shared_devices %}
					<li id="shared_devices_{{ shared_device.device.name }}"><a title="control {{ shared_device.device.name }}" href="#shared_devices_{{ shared_device.device.name }}">{{ shared_device.device.name }}</a>
					<ul class="commands">
						{% if shared_device.device.enable %}
							{% if shared_device.device.command %}
								<li id="{{ shared_device.device.name }}_{{ shared_device.device.command }}">
								<a title="set {{shared_device.device.name}} {{shared_device.device.command}}" href="{{url_for('outmsg',room=shared_device.get_room().name,device=shared_device.device.name,command=shared_device.device.command,request_type=shared_device.device.request_type)}}" target="_self">{{shared_device.device.name}} {{shared_device.device.command}}</a>
								</li>
							{% endif %}
							{% if shared_device.device.command_optional %}
								<li id="{{ shared_device.device.name }}_{{ shared_device.device.command_optional }}">
								<a title="set {{device.name}} {{device.command_optional}}" href="{{url_for('outmsg',room=shared_room.room.name,device=shared_device.device.name,command=shared_device.device.command_optional,request_type=shared_device.device.request_type)}}" target="_self">{{shared_device.device.name}} {{shared_device.device.command_optional}}</a>
								</li>
							{% endif %}
							</ul><!-- commands -->
						{% else %}
							</ul><!-- commands -->
							<span>
							Device disabled.
							</span>
						{% endif %}
					<span>
					{{ shared_device.device.message }} @ <i> {{shared_device.device.get_month()}} {{shared_device.device.last_used.day}}, {{shared_device.device.last_used.year}} at {{shared_device.device.last_used.hour}}:{{shared_device.device.get_minute()}} </i> 

					<br>
					<a title="collapse room" href="{{ url_for('my_house') }}">collapse</a>
					</span>
					</li><!-- room.device -->
				{% endfor %}
			{% else %}
				<li id="shared_devices"><span>No devices shared with you.</span></li>
			{% endif %}
				</ul><!-- devices -->
				</li><!-- room -->
		<div class="back_to_top"><a title="go to the top of the page" href="#"><em>Back to top.</em></a></div>
	</ul><!-- rooms -->
	</div><!-- house -->
{% else %}
	<h1>Unauthorized access to house!</h1>
{% endif %}
{% endblock %}
