{% extends "base.html" %}

{% block content %}
<h1>Change your password</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method=post name="password">
    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.old_password) }}
    {{ render_field(form.new_password) }}
    {{ render_field(form.confirm_password) }}
  </dl>
  <p><input class="btn" type="submit" value="Save Changes">
</form>
{% endblock %}




