{% extends "base.html" %}

{% block content %}
<h2> Privacy Policy </h1>

<hr>
<p>
<em><strong>Your privacy is critically important to us.</strong></em>
<br>
<br>
<strong>We have a few fundamental principles:</strong><br>
1. We do not ask you for personal information unless we truly need it. 
(We cannot stand services that ask you for things like your 
occupation or income level for no apparent reason.)<br>
2. We do not share your personal information with anyone except to 
comply with the law, develop our products, or protect our rights.<br>
3. We do not store personal information on our servers unless required
 for the on-going operation of one of our services.<br>
4. In all of our products, we aim to make it as simple as possible for 
you to control what is visible to the public, seen by search engines, 
kept private, and permanently deleted.
<br>
<br>
<strong>Gathering of Personally-Identifying Information:</strong><br>
Certain visitors to our website choose to interact with us in ways 
that require us to gather personally-identifying information. The amount
 and type of information that we gather depends on the nature of the 
 interaction. For example, a visitor signing up for an account may provide 
 a username and email address. Those who engage in transactions with us,  
 by purchasing our products and services, for example, are asked to provide 
 additional information, including as necessary the personal and financial 
 information required to process those transactions. In each case, we collect 
 such information only insofar as is necessary or appropriate to fulfill the 
 purpose of the visitors interaction with our website. We do not disclose 
 personally-identifying information other than as described below. And visitors 
 can always refuse to supply personally-identifying information, with the caveat
  that it may prevent them from engaging in certain website-related activities.
<br>
<br>
<strong>Protection of Certain Personally-Identifying Information:</strong><br>
We disclose potentially personally-identifying and personally-identifying 
information only to those of our employees, contractors and affiliated 
organizations that (i) need to know that information in order to process 
it on our behalf or to provide services available at our websites, and (ii)
 that have agreed not to disclose it to others. Some of those employees, 
 contractors and affiliated organizations may be located outside of your 
 home country; by using our website, you consent to the transfer of such 
 information to them. We will not rent or sell potentially 
 personally-identifying and personally-identifying information to 
 anyone. Other than to our employees, contractors and affiliated 
 organizations, as described above, we disclose potentially 
 personally-identifying and personally-identifying information only in 
 response to a subpoena, court order or other governmental request, or 
 when we believe in good faith that disclosure is reasonably necessary 
 to protect the property or rights of ourselves, third parties or the 
 public at large. If you are a registered user of our website and have 
 supplied your email address, we may occasionally send you an email to 
 tell you about new features, solicit your feedback, or just keep you 
 up to date with what's going on with us and our products. We primarily 
 use our various product blogs to communicate this type of information, 
 so we expect to keep this type of email to a minimum. If you send us a 
 request (for example via a support email or via one of our feedback 
 mechanisms), we reserve the right to publish it in order to help us 
 clarify or respond to your request or to help us support other users. 
 We take all measures reasonably necessary to protect against the 
 unauthorized access, use, alteration or destruction of potentially 
 personally-identifying and personally-identifying information.
<br>
<br>
<strong>Cookies:</strong><br>
A cookie is a string of information that a website stores on a visitor 
is computer, and that the visitors browser provides to the website each 
time the visitor returns. We uses cookies to help us identify and track 
visitors, their usage of our website, and their website access 
preferences. Our visitors who do not wish to have cookies placed on 
their computers should set their browsers to refuse cookies before 
using our websites, with the drawback that certain features of our 
website may not function properly without the aid of cookies.
<br>
<br>
<strong>Business Transfers:</strong><br>
If we, or substantially all of our assets, were acquired, or in the 
unlikely event that we go out of business or enter bankruptcy, user 
information would be one of the assets that is transferred or acquired
 by a third party. You acknowledge that such transfers may occur, and 
 that any acquirer may continue to use your personal information as 
 set forth in this policy.
<br>
<br>
<strong>Privacy Policy Changes:</strong><br>
Although most changes are likely to be minor, we may change our Privacy 
Policy from time to time, and at our sole discretion. We encourage 
visitors to frequently check this page for any changes to its Privacy 
Policy. Your continued use of this site after any change in this Privacy 
Policy will constitute your acceptance of such change.
</p>

{% endblock %}




