{% extends "base.html" %}

{% block content %}
<h2 align="center"> Reply Post </h1>

<form action="" method=post name="reply_message">
    {{form.hidden_tag()}}
<table align="center">
    <tr>
        <td> 
	    {{ form.body(cols = 80, rows = 15) }} 
	    {% for error in form.errors.body %}
                <br><span style="color: red;">[{{error}}]</span>
	    {% endfor %}
	</td>
    </tr>
    <tr>
        <td>   <input type="submit" class="btn" value="Reply Message"> </td>
    </tr>
    
</form>

{% endblock %}




