{% if g.user.is_authenticated() %}
	{% if shared_devices | length > 0 %}
	<h2>Devices Shared With Me</h2>

<hr>



		<table>
		<tr>
			<th>Device</th>
			<th>Request type</th>
			<th>URL</th>
			<th>Commands</th>
			<th>Link</th>
			<th>Device Owner</th>
			<th>Action</th>
			<th>Status</th>
		</tr>



	{% for shared_device in shared_devices %}

		<tr>
		<td>{{shared_device.device.name}}</td>
		<td>{{shared_device.device.request_type}}</td>
		<td>{{shared_device.device.url}}</td>
		<td>{{shared_device.device.command}}</br>{{shared_device.device.command_optional}}</td>
		<td>
			{% if shared_device.device.enable %}
				<a alt="{{shared_device.name}}_{{shared_device.device.command}}" href="{{shared_device.device.url}}/{{shared_device.get_room().name}}/{{shared_device.device.name}}/{{shared_device.device.command}}">{{shared_device.device.url}}/{{shared_device.device.command}}</a>
				</br>

				    {% if g.user.nickname in ['Simulator','Demo'] %}

				<a href="http://shwa-home.appspot.com/makepost/{{g.user.nickname}}/{{shared_device.get_room().name}}/{{shared_device.device.name}}/{{shared_device.device.command}}/simulating", target='_blank'>Simulate</a>

				    {% endif %}


				    {% if shared_device.command_optional %}
					</br>
					<a alt="{shared_{device.name}}_{{shared_device.command_optional}}" href="{{shared_device.device.url}}/{{shared_device.get_room().name}}/{{shared_device.device.name}}/{{shared_device.device.command_optional}}">{{shared_device.device.url}}/{{shared_device.device.command_optional}}</a>
					</br>

				    {% if g.user.nickname in ['Simulator','Demo'] %}

					<a href="http://shwa-home.appspot.com/makepost/{{g.user.nickname}}/{{shared_device.get_room().name}}/{{shared_device.device.name}}/{{shared_device.device.command_optional}}/simulating", target='_blank'>Simulate_optional</a>
				    {% endif %}

				{% endif %}
			{% else %}
				Device disabled
			{% endif %}

		</td>
		<td>
			<a alt="device owner"href="{{ url_for('user',nickname=shared_device.device_owner()) }}">{{shared_device.device_owner()}}</a>
		</td>

		<td>
			<a title="remove device" alt="remove device"href="{{ url_for('remove_shared_device',id=shared_device.id) }}"> <img alt = "profile" src="{{ url_for('static', filename='images/glyphicons_016_bin.png') }}" height="15px" width="25px"/> </a>
		</td>
		<td class = "size15">
		{{ shared_device.device.message }} @ <i> {{shared_device.device.get_month()}} {{shared_device.device.last_used.day}}, {{shared_device.device.last_used.year}} at {{shared_device.device.last_used.hour}}:{{shared_device.device.get_minute()}} </i>

		</td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% else %}
<h1>Welcome!</h1>
{% endif %}





