{% extends "base.html" %}
{% block content %}


{% if shared_rooms | length == 0 %}
<h1>Rooms Shared With Me</h1>
<p> No rooms were shared with you! </p>

{% else %}
{% include "shared_rooms.html" %}
{% endif %}


{% endblock %}
