{% extends "base.html" %}

{% block content %}
<h1>Share Device</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method="post" name="share_device">
    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.email) }}
  </dl>
  <p><input type="submit" value="Share Device">
</form>
{% endblock %}




