{% extends "base.html" %}
{% block content %}


{% if shared_devices | length == 0 %}
<h1>Devices Shared With Me</h1>
<p> No devices were shared with you! </p>

{% else %}
{% include "shared_devices.html" %}
{% endif %}


{% endblock %}
