{% extends "base.html" %}

{% block content %}
<h1>Sign in</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method=post name="signin">
    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type="submit" class="btn" value="Sign in"></p>
</form>
<p>
Click <a href="/login">here</a> to sign in using your Google, Yahoo, AOL, Flickr, or other OpenID account.<br>
</p>
{% endblock %}
