{% extends "base.html" %}
{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{user.avatar(128)}}"></td>
        <td><h1>{{user.nickname}}</h1>
        {% if user.about_me %}
        	<p>{{user.about_me}}</p>
        {% endif %}
        {% if user.last_seen %}<p>
        	<i>Last activity on: {{user.get_week_day()}} {{user.get_month()}} {{user.last_seen.day}}, {{user.last_seen.year}} at {{user.last_seen.hour}}:{{user.get_minute()}} </i></p>
        {% endif %}
        {% if user.id == g.user.id %}
        	<p><a title="edit your profile" href="{{url_for('edit')}}">Edit</a></p>
        {% endif %}
        </td>
        {% if user.nickname != g.user.nickname %}
       	<tr><td><a title="communicate with {{ user.nickname }}" href="{{url_for('create_message', nickname = user.nickname)}}">Send Message</a></td></tr>
        </tr>
        {% endif %}
</table>
<br>
<hr>
<form action="" method="post" name="comment">
	{{form.hidden_tag()}}
	<table>
		<tr>
			<td>What are you thinking of?</td>
			<td>{{ form.post(size = 30, maxlength = 140) }}</td>
			<td>
			<input type="submit" value="Post">
			</td>
			{% if form.errors.post | length>0 %}
				<td>
				{% for error in form.errors.post %}
				<span style="color: red;">[{{error}}]</span><br>
				{% endfor %}
				</td>
			{% endif %}
		</tr>
	</table>
</form>
<br>
<table class="post_content">
{% for post in posts %}
	<tr>
		<td class="post_info"><img src="{{post.author.avatar(50)}}"/><br><em>{{ post.author.nickname }}</em></td>
		<td class="post_body">{{ post.body }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
